
<section class='page-section'>
<inner-column>

  <h1>Blog</h1>

  <ul class='post-list'>
    {{#each model as |post|}}
      <li class='post'>

        <PostCard @post={{post}} />

      </li>
    {{/each}}
  </ul>

</inner-column>
</section>
