

<header class='page-section site-header'>
<inner-column>

  <h1>Hello</h1>

</inner-column>
</header>






<footer class='page-section site-footer'>
<inner-column>

  <h2>Footer</h2>

</inner-column>
</footer>
