
<header class='page-section site-header'>
<inner-column>

  <nav>
    <LinkTo @route='application'>Home</LinkTo>
    <LinkTo @route='people.list'>People</LinkTo>
    <LinkTo @route='about'>About</LinkTo>
    <LinkTo @route='contact'>Contact</LinkTo>
    <LinkTo @route='blog'>Blog</LinkTo>
  </nav>

</inner-column>
</header>



<main class='page-content'>
  {{outlet}}
</main>



<footer class='page-section site-footer'>
<inner-column>

  <h2>Footer</h2>

</inner-column>
</footer>
