
<header class='page-section site-header'>
<inner-column>

  <div>App</div>

</inner-column>
</header>



<main class='page-content'>
  {{outlet}}
</main>



<footer class='page-section site-footer'>
<inner-column>

  <h2>Footer</h2>

</inner-column>
</footer>
